<footer>
  <div class="container d-flex justify-content-between">
    Created by {{name}}
    <div>
      <a class="text-muted d-inline-block mr-3" href="https://github.com/renzoafable" target="_blank">Github</a>
      <a class="text-muted d-inline-block mr-3" href="https://www.linkedin.com/in/renzoafable/" target="_blank">LinkedIn</a>
    </div>
  </div>
</footer>