<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="d-inline-block align-middle" src="/img/weather.png" width="30" height="30" alt="">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="icon ion-ios-menu"></i>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarCollapse"
    >
      <div class="navbar-nav text-center">
        <a class="nav-item nav-link" href="https://github.com/renzoafable/weathrr" target="_blank">View on Github</a>
      </div>
    </div>
  </div>
</nav>