<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>

    {{!-- ICONS --}}
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">

    {{!-- STYLESHEETS --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/queries.css">
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <div class="container">
        <div class="input-group input-group-lg bg-white shadow rounded mt-3 mb-4 p-1 w-50 mx-auto">
          <div class="input-group-prepend bg-transparent">
            <button class="btn bg-transparent border-0">
              <i class="icon ion-md-search"></i>
            </button>
          </div>
          <input
            class="form-control form-control border-0 bg-transparent"
            id="locationInput"
            placeholder="Enter city or town, etc."
            type="text"
          >
        </div>
        <div class="row shadow rounded bg-main-light">
          <div class="col-12 col-md-8 rounded-left p-4">
            {{!-- <div class="input-group input-group-lg bg-light shadow rounded mt-3 p-1 w-75 mx-auto">
              <div class="input-group-prepend bg-transparent">
                <button class="btn bg-transparent border-0">
                  <i class="icon ion-md-search"></i>
                </button>
              </div>
              <input
                class="form-control form-control border-0 bg-transparent"
                id="locationInput"
                placeholder="Enter city or town, etc."
                type="text"
              >
            </div> --}}

            <p class="h2 font-weight-bolder my-4 secondary-text text-center">Weather Forecast <small class="text-muted">(for 5 days)</small></p>
            <div class="table-responsive text-center">
              <table class="table table-borderless">
                <div id="empty-table">
                  <p class="text-muted m-4">Select a location...</p>
                </div>
                <thead class="secondary-text d-none">
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Rain</th>
                    <th scope="col">Weather</th>
                    <th scope="col">Max Temp</th>
                    <th scope="col">Wind Speed</th>
                  </tr>
                </thead>
                <tbody class="d-none">
                  <tr>
                    <th scope="row" colspan="5" class="p-0">
                      <p class="text-muted">Select a location...</p>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-4 rounded-right bg-main-dark p-4">
            <div class="d-flex flex-column align-items-center justify-content-center mt-5">
              <div class="d-flex flex-row">
                <img class="weather-icon" src="http://openweathermap.org/img/wn/09d@2x.png" style="width: 75px; height: 75px">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <p class="h3 text-light m-0">Today</p>
                  <p class="text-muted">Sat, 3 Aug</p>
                </div>
              </div>
              <p class="text-white big-temp m-0">28<span>&#8451;</span></p>
              <p class="text-muted mb-2">Berlin, Germany</p>
              <div class="d-flex flex-row text-muted">
                <span>Feels like 32</span>
                <span class="mx-2">|</span>
                <span>Sunset 20:15</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}

    {{!-- SCRIPTS --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZOinOHrWjATGbzAQb9m1Z90n_PZ_Tc84&libraries=places"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
