<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather.io</title>

    {{!-- ICONS --}}
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">

    {{!-- STYLESHEETS --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/queries.css">
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <div class="container">
        <div class="input-group input-group-lg bg-white shadow rounded mt-3 mb-4 p-1 w-50 mx-auto">
          <div class="input-group-prepend bg-transparent">
            <button class="btn bg-transparent border-0">
              <i class="icon ion-md-search"></i>
            </button>
          </div>
          <input
            class="form-control form-control border-0 bg-transparent"
            id="locationInput"
            placeholder="Enter city or town, etc."
            type="text"
          >
        </div>
        <div class="row shadow-lg rounded bg-main-light">
          <div class="col-12 col-md-8 rounded-left p-4">
            <p class="h2 font-weight-bolder my-4 secondary-text text-center">Weather Forecast <small class="text-muted">(next 5 days)</small></p>
            <div class="table-responsive text-center">
              <table class="table table-borderless">
                <div id="empty-table">
                  <p class="text-muted m-4">Select a location...</p>
                </div>
                <thead class="secondary-text d-none">
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Rain</th>
                    <th scope="col">Weather</th>
                    <th scope="col">Max Temp</th>
                    <th scope="col">Wind Speed</th>
                  </tr>
                </thead>
                <tbody class="d-none">
                  <tr>
                    <th scope="row" colspan="5" class="p-0">
                      <p class="text-muted">Select a location...</p>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-4 rounded-right bg-main-dark p-4">
            <div class="mt-5">
              <div class="d-flex flex-row justify-content-center">
                <img class="weather-icon current-weather-icon d-none" src="http://openweathermap.org/img/wn/09d@2x.png">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <p class="h3 text-light m-0">Today</p>
                  <p class="current-date text-light m-0"></p>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                <p class="text-white m-0"><span class="current-temp">0</span><span class="celsius">&#8451;</span></span>
                <p class="current-location text-light mb-2">Select a location...</p>
                <div class="d-flex flex-row text-light">
                  <span>Feels like <span class="current-feels-like">0</span></span>
                  <span class="mx-2">|</span>
                  <span>Sunset <span class="current-sunset">00:00</span></span>
                </div>
              </div>
              <div class="text-white mx-2">
                <p class="font-weight-bold mb-1">Weather Details</p>
                <div class="d-flex justify-content-between m-3">
                  <span>Cloudy</span><span class="current-clouds font-weight-bold">0 %</span>
                </div>
                <div class="d-flex justify-content-between m-3">
                  <span>Rain</span><span class="current-rain font-weight-bold">0 mm</span>
                </div>
                <div class="d-flex justify-content-between m-3">
                  <span>Humidity</span><span class="current-humidity font-weight-bold">0 %</span>
                </div>
                <div class="d-flex justify-content-between m-3">
                  <span>Wind</span><span class="current-wind font-weight-bold">0 Km/h</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}

    {{!-- SCRIPTS --}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZOinOHrWjATGbzAQb9m1Z90n_PZ_Tc84&libraries=places"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
