@import url('https://fonts.googleapis.com/css?family=Karla|Josefin+Sans:300|Raleway&display=swap');

:root {
  --main-light-color: #f2fbff;
  --main-dark-color: #100e3b;
  --secondary-dark-color: #484580;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  min-height: 100vh;
  padding-top: 5rem;
}

.main-content {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

/* UTILITY CLASSES */
.bg-main-dark {
  background-color: var(--main-dark-color);
}

.bg-main-light {
  background-color: var(--main-light-color);
}

.secondary-text {
  color: var(--secondary-dark-color);
}

/* NAV BAR */

nav h1,
nav a {
  color: var(--main-dark-color);
}

nav h1 {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
}

/* INDEX PAGE */
/* Location form */
.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

button {
  cursor: pointer;
}

.pac-container {
  margin-top: 1rem;
}

/* FORECAST TABLE */
.weather-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.big-temp {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8rem;
}

.big-temp span {
  color: var(--main-light-color);
  font-size: 2.5rem;
  vertical-align: top;
}

.portrait {
  height: auto;
  max-width: 250px;
}

footer {
  border-top: 1px solid #eeeeee;
  color: #888888;
  margin-top: 16px;
  padding: 16px 0;
}
